.pagination {
    // border: 1px solid black;
    position: absolute;
    bottom: 0px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    // background-color: black;
    button{
        background-color: transparent;
        display: inline-block;
        padding: 5px;
        width: 25px;
        height: 100%;
        outline: none;
        border: none;
        cursor: pointer;
        color: black;
        font-weight: 500;
    }
    .prev,.next{
        display: flex;
        justify-content: center;
    }
    .active-page{
        background-color: lightgray;
        font-weight: 400;
    }
    button:disabled{
        color: lightgray;
    }
}
