.table-wrapper {
    overflow-x: scroll;
    height: 70vh;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    table {
        border: 1px solid #f3f5f7;
        margin: 20px auto;
        margin: auto;
        border-collapse: separate;
        border-spacing: 0px;
        width: 100%;
    }
    table td {
        overflow: hidden; /* Hide any overflowing content */
        white-space: nowrap; /* Prevent line breaks */
        overflow-wrap: break-word; /* Allow word wrapping within the cell */
        padding: 10px;
        text-align: left;
        font-size: 0.9rem;
        border: 1px solid;

        white-space: normal; //allow line breaks
    }
    table td,
    table th {
        border-color: transparent;
    }
}
