.app-wrapper {
    min-height: 100vh;
    width: 100vw;
    padding-top: 20px;
    background-color: #e5e4e2;

    .app {
        margin: auto;
        width: 90%;
        max-width: 1000px;
        border-radius: 5px;
        min-height: 80vh;
        box-shadow: 1px 1px 10px #0c4bcc;
    }
}

@media all and (max-width: 600px) {
    .app-wrapper {
        padding-top: 5px;
    }
}
